<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>project for internship</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap" rel="stylesheet">
    <!-- linking the css for this index html file  -->
    <!-- <link rel="stylesheet" href="css/style.css"> -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="navbar">
        <img src="./logo.jpg" alt="">
        <h1>TodoCombo</h1>
        <!-- making the ul list for the navigation bar  -->
        <ul class="navigation" id="navigation">
            <li><a href="">Home</a></li>
            <li><a href="#c3">About</a></li>
            <li><a href="/yourarena">Yourarena</a></li>
            <li><a href="/signup">Enter Zone/Signup</a></li>
        </ul>


        <div class="hambur" id="closed">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>


    </div>



    <!-- now adding the html for the background for this home page for our website  -->
    <div class="container1">
        <div class="content1">
            <h1>The best you can be, be here</h1>
            <h2>We put little magic into your life</h2>
            <a href="#" class="btn">Read More</a>
        </div>
    </div>


    <!-- adding the welcome section for the home page  -->
    <section class="container2">
        <h1>Welcome to Todo Combo</h1>
        <p>This Student Combo is a product for the general tasks of the school as well as the college students. They can
            schedule their day, make and save notes, do calculations, set the timers and counters, compare their
            performances with others and have their report card</p>
        <!-- now adding the cards describing the features of this website      -->
        <div class="cards">
            <div class="singlecard" id="card1">
                <img src="./increaseproductivity.jpg" alt="">
                <p>Improve Productivity</p>
            </div>
            <div class="singlecard" id="card2">
                <img src="./schedule.png" alt="">
                <p>Schedule your Day</p>
            </div>
            <div class="singlecard" id="card3">
                <img src="./analyseyourresult.png" alt="">
                <p>Compare with Others</p>
            </div>
            <div class="singlecard" id="card4">
                <img src="./personalsapce.jpg" alt="">
                <p>Personal Space</p>
            </div>
        </div>
    </section>


    <!-- adding the another section for telling the user to tell our mission  -->
    <section class="container3" id="c3">
        <!-- <img src="./mission.jpg" alt=""> -->
        <div class="content3">
            <h1>Our Mission</h1>
            <p>We aim to make the life of students easier and smooth. They can schedule their day and create the list of
                tasks. They can also add and save the notes. These makes life of students easier. They can compare their
                daily performance with full analysis. Option for weekle schedules</p>
        </div>
    </section>


    <!-- adding the another section for the website  -->
    <section class="container4">
        <h1 id="head"> Our Products </h1>
        <div class="product-cards">
            <div class="pcard" id="todolist">
                <div class="part1">
                    <h1>Todolist</h1>
                    <img src="./icons8-to-do-100.png" alt="my todolist">
                </div>
                <div class="part2">
                    <p>Make your todo for different kinds of tasks. There is separate section for different kind of
                        tasks</p>
                </div>

            </div>

            <div class="pcard" id="notes">
                <div class="part1">
                    <h1>Notes</h1>
                    <img src="./pencil.png" alt="my todolist">
                </div>
                <div class="part2">
                    <p>You can make notes here and comeback. Facility to delete add and update the existing notes. Also
                        there is facility for sharign the notes</p>
                </div>
            </div>

            <div class="pcard" id="anaylsis">
                <div class="part1">
                    <h1>Analysis</h1>
                    <img src="./compare.jpg" alt="my todolist">
                </div>
                <div class="part2">
                    <p> Here you can analyse how you are doing. You can compare with others. Get scores daily and see
                        the full progress chart</p>
                </div>
            </div>

            <div class="pcard" id="personalzone">
                <div class="part1">
                    <h1>Your Zone</h1>
                    <img src="./personal.jpg" alt="my todolist">
                </div>
                <div class="part2">
                    <p>Having your personal space kind of thing is also good. Here you can get the same. Here you can
                        use your own calculator, note down your personal interests and so on</p>
                </div>
            </div>

        </div>
    </section>


    <!-- now we have to add the section for the foorter as well as  -->
    <!-- lets start writing the code for the footer so that we can hav eth efooter at the bottom only  -->
    <footer class="footer">
        <p>@copyright 2021, All Rights Reserved</p>
        <p>Created by Developer of solo company</p>
    </footer>



    <script src="/index.js"></script>
</body>

</html>