<!-- now this is the page for the signin  -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signin</title>
    <!-- linking the css file for the html page for login purpose  -->
    <link rel="stylesheet" href="css/login.css">
</head>

<body>
    <div class="enterdetails">
        <h2>Sign in</h2>
        <div class="loginform">

            <form action="/signin" method="POST">
                <input type="text" name="myusername" placeholder="Enter your Name">
                <input type="password" name="mypassword" placeholder="Enter your Password">
                <button type="submit">Sign in</button>
            </form>
        </div>
    </div>


    <!-- now we have to add the section for the foorter as well as  -->
    <!-- lets start writing the code for the footer so that we can hav eth efooter at the bottom only  -->
    <footer class="footer">
        <p>@copyright 2021, All Rights Reserved</p>
        <p>Created by Developer of solo company</p>
    </footer>

</body>

</html>