<!-- in this we will be adding the counter for the better experience of the user  -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timer</title>
    <link rel="stylesheet" href="css/timer.css">
</head>

<body>
    <div class="container">
        <h1>00:00:00</h1>
        <div class="btns">
            <!-- <button class="reset">Reset</button> -->
            <button class="start" id="start">Start</button>
            <button class="stop" id="stoporresume">Stop</button>
        </div>
    </div>

    <!-- adding the javascript for the better user experience  -->
    <script src="/timer.js"></script>
</body>

</html>